* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
html {
  font-size: 62.5%;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.grid--2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.flex {
  display: flex;
}
.inline-block {
  display: inline;
}
.margin-btm {
  margin-bottom: 3rem !important;
}
/*******************/
/*****SIGN UP PAGE*******/
/*******************/
.heading-primary {
  font-size: 2.4rem;
  margin: 1rem 0 0 2rem;
}
.heading-secondary {
  font-size: 4.8rem;
  letter-spacing: -2px;
}

.page-view {
  max-width: 100%;
  height: 100vh;
  position: relative;
}
.page-view img {
  height: 100%;
  width: 100%;
  filter: blur(4px);
}
.form-component {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  filter: none;
}

.cta-form {
  flex-direction: column;
  gap: 2rem;
}
.cta-form input {
  display: block;
  width: 90%;
  border: none;
  border: 1px #555 solid;
  border-radius: 11px;
  padding: 1.8rem;
}
.cta-form label {
  display: inline-block;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.forgot:link,
.forgot:visited {
  font-size: 1.6rem;
  text-decoration: none;
  color: #333;
}
.forgot:hover,
.forgot:active {
  text-decoration: underline;
}
.login-btn {
  border: none;
  display: block;
  padding: 2.4rem;
  font-size: 3rem;
  background-color: #333;
  color: #fff;
  font-weight: 600;
  border-radius: 11px;
  transition: all 300ms;
  cursor: pointer;
  border: #333 2px solid;
}
.login-btn:hover {
  background-color: #fff;
  color: #333;
  border: #333 2px solid;
}
.sign-up-box {
  padding: 3rem 4.8rem 0 4.8rem;

  flex-direction: column;
  gap: 2rem;

  color: #fff;
}
.sign-up-btn {
  border: 2px solid #333;
  display: block;
  text-decoration: none;
  font-weight: 600;
  padding: 2.4rem;
  font-size: 3rem;
  color: #333;
  text-align: center;
  border-radius: 11px;
}
.sign-up-btn:hover {
  color: #fff;
  background-color: #333;
}
.login-box {
  padding: 3rem 4.8rem 0 4.8rem;

  /* background-color: #fff; */
}
.sign-up-text {
  color: #333;
  font-weight: 400;
  font-size: 2rem;
}
